QSpinBox{
  max-height: 60px;
  font-size: 30px;
  background-color: #382820;
  color: #E6D2C0;
  border: 1px solid #8C6D5B;
  border-radius: 4px;
}

QPushButton{
  max-height: 20px;
  max-width: 50px;
  background-color: #4A372D;
  border: 1px solid #A6836F;
  border-radius: 4px;
  color: #E6D2C0;
}

QPushButton:pressed{
  background-color: #2A1E17;
}

QLabel{
  font-size: 25px;
  color: #BF9D86;
}
