#KeyEditInput,
QLabel{
  border: 1px solid #b0b0b0;
  font-size:16px;
  padding:10px 10px 10px 10px;
}

#KeyEditInput[state="error"]:focus {
  border-color: red;
}
#KeyEditInput[state="error"] {
  border-color: red;
}

#KeyEditInput:focus {
  border: 1px solid #31363b;
  background-color:#dcdcdc;
}
QPushButton{
  min-width: 50px;
  background-color:#dcdcdc;
  border: 1px solid #cccccc;
  border-radius:4px;
}
QPushButton:pressed{
  background-color:#ffffff;
}


#tablehead{
  background-color: #dcdcdc;
  font-weight: 600;
}

