QToolButton{
  background-color:#1e1e1e;
  min-width: 500px;
  min-height: 40px;
}
QPushButton{
  margin-top:10px;
  margin-left:10px;
  min-width: 60px;
  min-height: 30px;
  background-color:#161616;
  border: 1px solid #313131;
  border-radius:4px;
}
QPushButton:pressed{
  background-color:#101010;
}


QSlider::handle:vertical{
  width: 0px;
}
QGraphicsView{
  background-color: #000000;
}
QMenu{
  padding: 5px;
  border: 1px solid #343636;
  border-radius:5px;
    qproperty-alignment: AlignCenter;

}
QMenu:item{
   min-width: 492px;  
  padding:5px;
  border-radius: 5px;
}
QMenu:item:selected{
  background-color: #262727;
}
