QWidget {
  background: #101010;
  color: white;
}

QToolButton {
  padding-top: 3px;
  width: 80px;
  margin-left: 10px;
  border: solid;
  color: #ffffff;
  background-color: #101010;
  border-radius: 5px;
}
QToolButton:pressed {
  background-color: #161616;
}
QToolButton::menu-indicator {
  width: 0px;
}

QLabel {
  color: white;
}
QLabel#sublabel {
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0);
}
QPushButton {
  min-width: 30px;
  min-height: 30px;
  max-width: 30px;
  max-height: 30px;
  background-color: #161616;
  border: 1px solid #313131;
  border-radius: 4px;
}
QPushButton:pressed {
  background-color: #101010;
}
QPushButton#BVolumeControl {
  border: none;
  background-color: #101010;
}

QSlider {
  border-radius: 20px;
}

/*video slider*/
QSlider::sub-page:horizontal {
  background: #1e90ff;
  border-radius: 5px;
}

QSlider::groove:horizontal {
  background: #1e1e1e;
  height: 5px;
}
QSlider::handle::pressed {
  width: 0px;
}
QSlider::handle {
  width: 0px;
}

/*slider volume*/
QSlider#volumeslider {
  max-width: 150px;
  min-width: 65px;
}

QSlider::sub-page:horizontal#volumeslider {
  background: #484949;
  border-radius: 5px;
}

QSlider::groove:horizontal#volumeslider {
  background: #1e1e1e;
  border-radius: 5px;
  height: 5px;
  border-radius: 30px;
}

QSlider#volumeslider::handle {
  width: 0px;
}
QSlider::handle:vertical {
  width: 0px;
}
QGraphicsView {
  background-color: #000000;
}

QMenu {
  padding: 5px;
  border: 1px solid #343636;
  border-radius: 5px;
}
QMenu:item {
  width: 160px;
  padding: 5px;
  border-radius: 5px;
}
QMenu:item:selected {
  background-color: #262727;
}
QGraphicsView {
  border: 0px;
}

QTextEdit {
  background-color: #000000;
  color: #ffffff;
}

QScrollBar:vertical {
  background-color: #101010;
  border: none;
  max-width: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 3px;
  margin-left: 1px;
}
QScrollBar::handle:vertical {
  background-color: #484949;
  border: none;
}
QScrollBar::add-line:vertical,
QScrollBar::sub-line:vertical {
  height: 0;
  width: 0;
}
