[Desktop Entry]
Version=1.1.7
Type=Application
Name=VFW
GenericName=Video Player
Exec=/usr/local/bin/VFW %F
Icon=vfw
MimeType=video/mp4;audio/mpeg;video/x-matroska;video/x-msvideo;audio/wav;video/quicktime;audio/flac;audio/mp4;video/webm;audio/aac;video/x-ms-wmv;audio/ogg;video/x-m4v;video/mpeg;video/3gpp;video/x-flv;video/mp2t;audio/opus;audio/x-aiff;audio/x-alac;
NoDisplay=false
Categories=AudioVideo;Video;
Terminal=false
