QGraphicsVideoItem,QGraphicsScene,QGraphicsView{
  background-color: #000000;
}
QWidget{
  background:  #f0f0f0;
  color: black;
}

QToolButton{
  width:80px;
  margin-left:10px;
  border:solid;
  color:#000000;
  background-color:#e0e0e0;
}
QToolButton:pressed{
  background-color: #d0d0d0;
}

QLabel{
  color:black;
}
QLabel#sublabel{
  font-size:20px;
  background-color: rgba(255, 255, 255, 0);
}
QPushButton{
  min-width:30px;
  min-height:30px;
  max-width: 30px;
  max-height: 30px;
}
QPushButton#BVolumeControl{
  border:none;
  background-color: #f0f0f0;
}

QSlider{
  border-radius: 20px;
}

/*video slider*/
QSlider::sub-page:horizontal {
  background: #3572a5;
  border-radius: 5px;
}

QSlider::groove:horizontal{
  background: #dcdcdc;
  height: 5px;
}
QSlider::handle::pressed{
  width:0px;
}
QSlider::handle{
  width:0px;
}

/*slider volume*/
QSlider#volumeslider{
  max-width: 150px;
}

QSlider::sub-page:horizontal#volumeslider {
  background: #b0b0b0;
  border-radius: 5px;
}

QSlider::groove:horizontal#volumeslider {
  background: #dcdcdc;
  border-radius: 5px;
  height: 20px;
  border-radius: 30px;
