QSpinBox{
  max-height: 40px;
  width: 50px;
  font-size:20px;
  color:white;
  background-color:#1e1e1e;
  border-radius:5px;
  qproperty-alignment: 'AlignCenter';
  padding:0;
}

QSpinBox::up-button,
QSpinBox::down-button {
    width: 0;
    height: 0;
    border: none;
    background: none;
}

QPushButton{
  max-height: 20px;
  max-width: 50px;
  border-radius:4px;
}
QLabel{
  font-size: 20px;
  color: #ffffff;
}
QLabel#separetor{
  font-size: 25px;
  color: #ffffff;

}
