[Desktop Entry]

Version=1.0
Type=Application
Name=VFW
GenericName=Video Player 
Exec=/opt/VFW/bin/VFW %F
Icon=/opt/VFW/cache/icons/VFW-Squircle-Dark.png
MimeType=video/x-matroska;video/x-msvideo;video/mp4;video/x-ms-wmv;video/x-flv;video/x-mpegurl;video/x-m4v;text/x-ssa;text/x-subrip;text/vtt;text/srt;
NoDisplay=false
Categories=AudioVideo;Video;
Terminal=false
