QToolButton{
  border: 1px solid #737f80;
  min-width: 500px;
  min-height: 40px;
}
QPushButton{
  margin-top:10px;
  margin-left:10px;
  min-width: 60px;
  min-height: 30px;
  border-radius:4px;
}

QSlider::handle:vertical{
  width: 0px;
}
QMenu{
  padding: 5px;
  border: 1px solid #737f80;
  border-radius:5px;
    qproperty-alignment: AlignCenter;

}
QMenu:item{
   min-width: 492px;  
  padding:5px;
  border-radius: 5px;
}

