QLabel{
  font-size:20px;
  margin: 10px;
}

QPushButton#BorderColor,#BgColor,#FontColor{
  background-color: #1e1e1e;
  min-height: 30px;
  min-width: 65px;
  max-height: 30px;
  max-width: 65px;
  border: 1px solid rgb(148, 148, 148);
  border-radius: 5px;
}

QLineEdit{
  qproperty-alignment: 'AlignCenter';
  background-color: #1e1e1e;
  color:#ffffff;
  border-radius: 5px;
  max-height: 30px;
  max-width: 65px;
  min-height: 30px;
  min-width: 65px;
  font-size:20px;
  border: 1px solid #313131;
}


QPushButton{
  font-size:13px;
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 40px;
  min-width: 60px;
  max-height: 40px;
  max-width: 60px;
  background-color:#161616;
  border: 1px solid #313131;
  border-radius:4px;
}
QPushButton:pressed{
  background-color:#101010;
}

QToolButton{
  background-color: #1e1e1e;
  height: 28px;
  width: 62px;
  border-radius: 5px;
  margin:0px;
  border: 1px solid #313131;
}

QToolButton:pressed{
  background-color: #636363;
}

QMenu{
  padding: 5px;
  border: 1px solid #343636;
  border-radius:5px;
}
QMenu:item{
  width: 160px;
  padding:5px;
  border-radius: 5px;
}
QMenu:item:selected{
  background-color: #262727;
}
