QWidget {
  background: #232629;
  color: white;
}

QToolButton {
  padding-top: 3px;
  width: 80px;
  margin-left: 10px;
  border: solid;
  color: #ffffff;
  background-color: #232629;
  border-radius: 5px;
}

QToolButton:pressed {
  background-color: #31363b;
}

QToolButton::menu-indicator {
  image: none;
  width: 0;
  height: 0;
  width: 0px;
}

QLabel {
  color: white;
}

QLabel#sublabel {
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0);
}

QPushButton {
  min-width: 30px;
  min-height: 30px;
  max-width: 30px;
  max-height: 30px;
  background-color: #31363b;
  border: 1px solid #737f80;
  border-radius: 4px;
}

QPushButton:pressed {
  background-color: #1c1b22;
}

QPushButton#BVolumeControl {
  border: none;
  background-color: #232629;
}

QSlider {
  border-radius: 20px;
}

/*video slider*/
QSlider::sub-page:horizontal {
  background: #3daee7;
  border-radius: 5px;
}

QSlider::groove:horizontal {
  background: #1e1e1e;
  height: 5px;
}

QSlider::handle::pressed {
  width: 0px;
}

QSlider::handle {
  width: 0px;
}

/*slider volume*/
QSlider#volumeslider {
  max-width: 150px;
  min-width: 65px;
}

QSlider::sub-page:horizontal#volumeslider {
  background: #484949;
  border-radius: 5px;
}

QSlider::groove:horizontal#volumeslider {
  background: #1e1e1e;
  border-radius: 5px;
  height: 5px;
  border-radius: 30px;
}

QSlider#volumeslider::handle {
  width: 0px;
}

QSlider::handle:vertical {
  width: 0px;
}

QGraphicsView {
  background-color: #000000;
}

QMenu {
  padding: 5px;
  border: 1px solid #616b6e;
  border-radius: 5px;
}

QMenu:item {
  width: 160px;
  padding: 5px;
  border-radius: 5px;
}

QMenu:item:selected {
  background-color: #1e90ff;
}

QGraphicsView {
  border: 0px;
}

QTextEdit {
  background-color: #18191d;
  color: white;
  border: 1px solid #44484b;
}

QSpinBox {
  background-color: #18191d;
  color: #ffffff;
}

QScrollBar:vertical {
  background-color: #232629;
  border: none;
  max-width: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 3px;
  margin-left: 1px;
}
QScrollBar::handle:vertical {
  background-color: #4b4b4b;
  border: none;
}
QScrollBar::add-line:vertical,
QScrollBar::sub-line:vertical {
  height: 0;
  width: 0;
}
